name: Flutter Android Build

on: [push, pull_request]

jobs:
  build_android:
    name: Build Android App
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Ustawiamy Fluttera z Dart SDK >= 3.9.2
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'
          channel: 'stable'

      - run: flutter pub get
      - run: flutter build apk --release

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
